.bottom-bor ul {
    list-style: none; 
}

.bottom-bor   ul  li::before {
    content: "\2022";  
    color: #AF13AF; 
    font-weight: bold;
    display: inline-block;
    width: 0.5em;
    margin-left: -0.5m;
    margin-right: 0.4em;
    margin-top: 0.19em !important;
    font-size: 1.2em !important; 
}

/* .pre-img{
    background-image: url('../img/gn-premium.png');
    height: 50vh;
}
 */




/* .pre-img, .stan-img, .hon-img, .del-img  {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    content: "\2022";  
} */

.p-move-up{
    margin-top: -5em !important;
}


.remove-margin{
    margin-top: -0.5rem !important;
}

.last-portion{
    height: ;
}
.imggg{
    /* height: 100%; */
}

.bottom-bor {
    border-bottom: 10px solid #4D69FF;
    overflow: hidden;
   height: 20em;
}

.overflow-hid {
    overflow: hidden !important;
}

.second-portion .container-fluid{
    padding: 5% !important;
} 

.container{
    max-width: 99%;
}

.gallery-portion{
    background-image: url('../img/gn-gallery-first-img.png');
    left: 0px;
    top: 145px;
    border-radius: 0px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.gallery-overlay{
    background-color: rgba(128, 128,128, 0.5);
}

.gallery-overlay:hover{
    background-color: rgba(128, 128,128, 0.6);
    height: 300px;
    transition-delay: 1ms;
}

.gallery-text-center{
    position: absolute;
    top: 35%;
    left: 39%;
}

.img-widthi{
    width: 98% !important;
    height: auto;
}

.gn-container{
    max-width: 94% !important;
}


/* FOR THE XXL SCREENS */

@media only screen and (max-width: 2560px){
    .fs-write-up{
        font-size: 40px;
    }
    .gallery-text-center{
        position: absolute;
        top: 35%;
        left: 41%;
    }
    .fs-headline-1{
        font-size: 78px;
    }
    .container{
        max-width: 97%;
    }
    .fs-nav {
        font-size: 30px;
        line-height: 22px;
    }
    .fs-input {
        font-size: 28px;
        line-height: 40px;
    }
    .fs-footer {
        font-size: 33px;
        line-height: 34px;
    }
    .bottom-bor {
        border-bottom: 10px solid #4D69FF;
        overflow: hidden;
       height: 500px;
    }
}

@media only screen and (max-width: 2326px){
  
}


/* FOR THE NORMAL DESKTOP SCREEN  */

@media only screen and (max-width: 1440px) {
    .container{
        max-width: 93%;
    }

    .fs-write-up{
        font-size: 20px;
    }

    .fs-headline-1{
        font-size: 48px;
    }
    .fs-nav {
        font-size: 16px;
        line-height: 22px;
    }
    .fs-input {
        font-size: 16px;
        line-height: 20px;
    }
    .fs-footer {
        font-size: 20px;
        line-height: 24px;
    }
    .fs-body-1 {
        font-size: 30px;
        line-height: 28px;
    }
    .img-widthi{
        width: 93.7% !important;
        height: auto;
    }
    .gn-container{
        max-width: 90% !important;
    }
    .fs-copyright {
        font-size: 14px;
        line-height: 18px;
    }
    .bottom-bor {
        border-bottom: 10px solid #4D69FF;
        overflow: hidden;
       height: 428px;
    }
    .deluxe-portion img {
        height: 428px;
    }
}

/* FOR SEMI LARGE SCREENS*/

@media only screen and (max-width: 1024px) {
    .container{
        max-width: 95%;
    }
    .fs-write-up{
        font-size: 20px;
    }
    .gallery-text-center{
        position: absolute;
        top: 35%;
        left: 37%;
    }
    .img-widthi{
        width: 92.3% !important;
    }
    .bottom-bor {
        border-bottom: 10px solid #4D69FF;
        overflow: hidden;
       height: 367px;
    }
    .deluxe-portion img {
        height: 367px;
    }
}

@media only screen and (max-width: 992px) {
    .deluxe-portion img {
        height: 367px;
        width: 100%;
        height: auto !important;
    }
}


/* FOR MEDIUM SCREENS*/

@media only screen and (max-width: 768px) {

    .fs-headline-1{
        font-size: 35px;
    }
    .container{
        max-width: 88.4%;
    }
    .gallery-text-center{
        position: absolute;
        top: 35%;
        left: 38.5%;
    }
    .fs-write-up{
        font-size: 15px;
    }
    .img-widthi{
        width: 100% !important;
        height: auto;
    }
    .fs-body-1 {
        font-size: 26px;
        line-height: 28px;
    }
    .pre-img, .stan-img, .hon-img, .del-img  {
        height: 50vh !important;
        background-repeat: no-repeat;
        background-size: cover;
        content: "\2022";  
    }
    .gallery-overlay{
        background-color: rgba(128, 128,128, 0.1);
    }
}


/* FOR SMALL SCREENS */

@media only screen and (max-width: 425px) {
    .gallery-text-center{
        position: absolute;
        top: 35%;
        left: 34%;
    }
    .fs-headline-1{
        font-size: 25.3px;
    }
    .fs-body-1 {
        font-size: 21px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 425px) {
    .gallery-text-center{
        position: absolute;
        top: 35%;
        left: 31%;
    }
}

@media only screen and (max-width: 320px) {
    .gallery-text-center{
        position: absolute;
        top: 35%;
        left: 28%;
    }
    .fs-headline-1{
        font-size: 24px;
    }
}









